.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);

  overflow-x: hidden;
  z-index: 3;

  .modal {
    margin-left: auto;
    padding: 2rem;
    background: var(--color-background);
    max-height: 100%;
    width: 50%;
    border-bottom-left-radius: 5rem;

    animation: slideFromRight 0.2s linear;
    animation-fill-mode: both;

    overflow-y: scroll;
    overflow-x: hidden;

    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(120%);
  }

  100% {
    transform: translateX(0);
  }
}
