@mixin rounded-styles {
  padding: 0.5rem;
  background-color: var(--color-back);
  font-size: 1.5rem;
  border-radius: 0.3rem;
  font-weight: 600;
}

.filterList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;

  p {
    padding: .5rem 1rem;
    border: 1px solid var(--color-font);
    cursor: pointer;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;

  & > * {
    margin: 1rem auto;
  }

  .container {
    border: 1px solid #ccc;
    padding: 2rem 1rem;
    width: 50rem;
    border-radius: 2rem;

    display: flex;
    gap: 3rem;

    transition: all 0.3s;

    img {
      background-color: #fff;
      border-radius: 50%;
      width: 12rem;
      height: 12rem;
      object-fit: contain;
    }

    .right_container {
      width: 100%;

      .inner {
        display: flex;
        justify-content: space-between;

        p {
          &:first-child {
            font-weight: 600;
            font-size: 2.3rem;
            margin-right: 1rem;
            cursor: pointer;
          }

          &:last-child {
            @include rounded-styles;
            color: var(--color-ongoing);
          }
        }

        .close {
          color: red !important;
        }
      }

      .extras {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        text-transform: capitalize;
        cursor: pointer;

        .type {
          @include rounded-styles;
        }
      }

      .buttons {
        margin: 3rem 2rem 0 0;

        display: flex;
        justify-content: space-between;

        cursor: pointer;

        & > * {
          transition: all 0.5s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    &:hover {
      box-shadow: 0 0.2rem 0.5rem var(--color-shadow);
    }
  }
}

.content {
  margin: 0 3rem 2rem 2rem;
  word-wrap: break-word;
}

// FilterCompo
.filter {
  display: flex;
  margin-left: auto;
  padding: 0.5rem 1rem;

  border: 2px solid #ccc;
  border-radius: 50rem;
  box-shadow: 0 0.3rem 0.5rem rgba($color: #000000, $alpha: 0.4);

  cursor: pointer;
  transition: all 0.4s;

  svg {
    margin-right: 1rem;
  }

  p {
    font-size: 2.5rem;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0.3rem 0.4rem rgba($color: #000000, $alpha: 0.6);
  }
}
