.home {
  margin: 8rem 6rem;

  @media only screen and (max-width: 1250px) {
    margin: 8rem 3rem;
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }

  display: flex;
  justify-content: space-between;

  & > * {
    padding: 2rem;
  }

  h2 {
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 0.3rem;

    animation: lazyLoad 0.5s 0.8s;
    animation-fill-mode: both;
  }

  .left {
    flex: 0 1 70%;

    @media only screen and (max-width: 780px) {
      flex-basis: 60%;
    }

    // TODO: mobile ready
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 0 30%;

    & > * {
      &:not(:last-child) {
        margin-bottom: 4rem;
      }
    }

    @media only screen and (max-width: 780px) {
      flex: 0 0 40%;
    }
  }
}

@keyframes lazyLoad {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
