.container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.loader {
  border: 5px solid transparent;
  border-radius: 50%;
  border-top: 5px solid var(--color-font);
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  margin: 0rem 2rem;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
