.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--color-background);
  transition: background-color 0.5s ease-in-out;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
