.note {
  margin: 2rem 0;
  padding: 2rem 1rem;
  background-color: var(--color-background);
  display: inline-block;
  border-radius: 1rem;
  text-align: center;
  word-spacing: 0.2rem;
  box-shadow: 0 0.4rem 0.4rem rgba(var(--color-nav), 0.5);

  animation: moveInLeft 1s 0.4s;
  backface-visibility: hidden;
  animation-fill-mode: both;

  width: 20rem;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  a {
    margin-top: auto;

    button {
      width: 100%;
    }
  }

  @media only screen and (max-width: 430px) {
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    margin: 0.5rem 0;

    p {
      margin-left: auto;
    }

    button {
      margin-left: auto;
      align-self: flex-start;
      height: 5rem;
    }
  }

  & > * {
    margin: 1rem;
    @media only screen and (max-width: 430px) {
      flex: 0 0 30%;
    }
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  20% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    transform: translateX(0);
  }
}

.notesContainer {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;

  & > * {
    flex-grow: 1;
  }
}

.center {
  &:last-child {
    text-align: center;
    margin-top: 1rem;
  }

  @media only screen and (max-width: 768px) {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    p {
      margin: 3rem 0;
    }
  }
}
