.heading {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  margin-top: -7.5rem;
}

.container {
  margin: 2.5rem 0;

  &:not(:last-child) {
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid #9797978f;
  }

  & > * {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .details {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    p {
      &:first-child {
        flex: 30%;
        text-transform: uppercase;
        font-weight: 600;
      }

      &:last-child {
        flex: 70%;
        text-transform: capitalize;
      }

      a {
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }
}

.postponed {
  color: red;
  text-align: center;
  padding: 0.5rem;
  border: 0.3px solid rgba($color: orangered, $alpha: 0.5);
  border-radius: 10rem;

  p {
    animation: blink 2s infinite ease;
  }
}

@keyframes blink {
  0% {
    transform: scale(1);
    opacity: .7;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: .7;
  }
}
