.list {
    padding: 2rem;

    & > * {
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    .items {
        text-transform: capitalize;
        cursor: pointer;
    }
}

.center {
    text-align: center;
}