.heading {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  margin-top: -7.5rem;
}

.container {
  margin: 2.5rem 0;

  .title {
    margin: 1rem 0;
    text-align: center;
    font-size: 110%;
    text-transform: capitalize;
    font-weight: 600;
  }

  .body {
    padding: 0 0.5rem;
    line-height: 3rem;
    height: 50rem;
    overflow-y: scroll;
  }

  .extras {
    margin-top: 2rem;
    text-align: right;
  }
}
