.container {
  margin: 2rem 0 4rem 0;
  padding: 2rem;
  background-color: var(--color-main-page);
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(var(--color-nav), 0.5);

  animation: MoveInTop 0.8s 0.2s;
  backface-visibility: hidden;
  animation-fill-mode: both;

  .date {
    color: var(--color-compo-dark);
  }

  & > * {
    gap: 2rem;
  }
}

@keyframes MoveInTop {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  80% {
    opacity: 0.7;
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
