.container {
  position: fixed;
  width: 100%;
  z-index: 3;

  .header {
    background-color: var(--color-navbar);
    box-shadow: 0 0.2rem 0.2rem rgba(var(--color-nav), 0.3);

    nav {
      display: flex;
      justify-content: space-between;
      padding: 1rem 3rem;

      .logo {
        .logoText {
          margin-left: 4rem;
          font-size: 3rem;
          letter-spacing: 0.5rem;
          color: var(--color-compo-light);
          transition: all 0.4s;

          @media only screen and (max-width: 768px) {
            margin-left: 2rem;
          }
        }

        :hover {
          cursor: pointer;
          transform: scale(1.08);
        }
      }

      .menu {
        display: flex;

        & > * {
          &:not(:last-child) {
            margin-right: 2rem;
          }

          background-color: var(--color-nav);
          border: none;
          cursor: pointer;
        }

        svg {
          font-size: 3rem;
        }

        .tgBtn {
          svg {
            animation: rotate 0.8s linear;
          }
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: rotate(120deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

// .active {
//   margin: 0 .5rem;
//   border-bottom: 1px solid var(--color-compo-dark);
// }

.icon {
  font-size: 3.5rem !important;
}
