.heading {
  margin-bottom: 5rem;
  display: flex;
  & > * {
    margin: 0 1rem;
  }

  h2 {
    font-size: 3rem;
  }

  @media only screen and (max-width: 768px) {
    margin-bottom: 4rem;
    h2 {
      font-size: 3.5rem;
    }
  }
}

.icon {
  margin-top: -3px;
  font-size: 4rem !important;

  animation: lazyLoad 0.2s 0.2s;
  animation-fill-mode: both;

  @media only screen and (max-width: 768px) {
    font-size: 4.5rem !important;
  }
}

@keyframes lazyLoad {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
