.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;

  p {
    font-size: 5rem;

    @media only screen and (max-width: 768px) {
      font-size: 2.5rem;
    }
  }

  button {
    margin: 2rem 0;
    padding: 1rem 5rem;
    font-size: 3rem;
    border-radius: 1rem;
    border: none;
    color: #fff;
    background: var(--color-compo-light);
    letter-spacing: 0.3rem;
    cursor: pointer;

    transition: all 0.4s;

    @media only screen and (max-width: 768px) {
      font-size: 2.5rem;
    }

    &:hover {
      transform: scale(1.04);
    }

    &:active {
      transform: translateY(1rem);
    }
  }

  .msg {
    margin: 2rem 0;
    font-size: 2.5rem;
  }
}
