.heading {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  margin-top: -7.5rem;
}

.profile {
  margin: 2rem 0 0 0;

  .container {
    display: flex;

    p {
      &:first-child {
        font-weight: 600;
        width: 30%;
      }
    }
  }

  & > * {
    padding: 1rem 0;
  }
}

.button {
  margin: 3rem 0 0 0;
  width: 100%;
  height: 5rem;
  font-size: 2.5rem;
  background: #ff5c58;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.5rem;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  &:hover {
    background: #c84b49;
    transform: scale(1.05);
  }

  svg {
    color: #fff;
  }
}
