// Notification ICON

.iconBox {
  svg {
    animation: bounceBack 0.5s ease-in;
  }

  .count {
    background: var(--color-font);
    color: var(--color-background);
    text-align: center;
    font-size: 1.5rem;

    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    position: absolute;
    top: 5%;
    right: 5%;

    z-index: 1;

    @media only screen and (max-width: 1250px) {
      right: 6%;
    }

    @media only screen and (max-width: 768px) {
      top: 8%;
      right: 13%;
    }
  }
}

@keyframes bounceBack {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
  }
}

// OVERLAY & NOTIFICATION BAR CSS
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);

  overflow-x: hidden;
  z-index: 2;

  ::-webkit-scrollbar {
    width: 0.5rem;
  }

  .notify {
    overflow-x: hidden;
    position: absolute;
    top: 7%;
    right: 4%;

    margin-left: auto;
    background: var(--color-background);

    width: 35%;
    max-height: 70%;
    border-bottom-left-radius: 3rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);

    animation: slideFromTop 0.2s linear;
    animation-fill-mode: both;

    overflow-y: scroll;
    z-index: 1;

    @media only screen and (max-width: 1250px) {
      top: 6%;
      right: 0%;
      width: 45%;
    }

    @media only screen and (max-width: 768px) {
      top: 4.5%;
      right: 0%;
      width: 95%;
      max-height: 70%;
    }

    .indent {
      padding: 1rem;
      border-bottom: 1px solid var(--color-font);
      background: var(--color-main-page);
    }
  }

  ul {
    list-style: none;
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-120%);
  }

  100% {
    transform: translateY(0);
  }
}

// Notification Container
@mixin containerDesign {
  display: flex;
  cursor: pointer;
  padding: 1.5rem;
  border: 1px solid var(--color-main-page);
  transition: all 0.5s;
}

@mixin asideDesign {
  width: 100%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newNoti {
  animation: newNotification 0.6s ease-in-out 0.3s 3 both;
}

@keyframes newNotification {
  50% {
    background-color: var(--color-mobile-nav);
  }
}

.container {
  @include containerDesign;

  &:hover {
    background-color: var(--color-main-page);
  }

  img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }

  aside {
    @include asideDesign;

    p {
      &:first-child {
        font-weight: 600;
      }

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    .extras {
      display: flex;
      justify-content: space-between;
      opacity: 0.8;

      p {
        font-size: 80%;
        font-weight: 400;
      }

      svg {
        transition: all 0.5s;

        &:hover {
          transform: scale(1.3);
          opacity: 1;
        }
      }
    }
  }
}

// Shimmer Animation Effects CSS
@mixin ShimmerAnimation {
  animation: placeHolderShimmer 1s linear infinite forwards;
  background: linear-gradient(
    to right,
    var(--color-main-page) 8%,
    var(--color-animation) 18%,
    var(--color-main-page) 33%
  );
  background-size: 1000px 104px;
  height: 338px;
}

.dummyContainer {
  @include containerDesign;

  .dummyImg {
    @include ShimmerAnimation;
    width: 13rem;
    height: 10rem;
    border-radius: 50%;
  }

  &:hover {
    opacity: 0.5;
  }

  aside {
    @include asideDesign;

    & > * {
      @include ShimmerAnimation;
      margin-bottom: 0.5rem;
      height: 338px;
    }

    .dummyHeading {
      width: 100%;
      height: 3rem;
    }

    .dummyText {
      width: 100%;
      height: 1rem;
      border-radius: 5rem;

      &:last-child {
        width: 70%;
      }
    }
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
